.App {
  background: linear-gradient(to bottom, cadetblue, #888888);
  text-align: center;
  height: 100%;
}

.App::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100%;
}

body {
  height: 100%;
  margin: 0%;
  padding: 0%;
}

html {
  height: 100%;
}

.login-page {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-form{
display: flex;
flex-direction: column;
align-items: center;
}

.input-username,
.input-roomid {
  padding: 10px;
  margin: 5px 0;
  font-size: 24px;
}

.button-join {
  margin: 20px 0;
  font-size: 24px;
  padding: 10px;
  background: #069406;
}

.button-join:hover {
  cursor: pointer;
  background: green;
}

.warning {
  color: red;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 95%;
  width: 95%;
  margin: 0 20px;
  padding-top: 10px;
}

.chat {
  height: 100%;
  width: 50%;
  justify-content: center;
  padding: 0px 100px 0px 100px;
}

.sidebar {
  width: 300px;
  height: 100%;
  background: linear-gradient(135deg, #7cc7e0, #afafaf);
  border: 1px solid lightsteelblue;
}
.sidebar-rooms {
  display: flex;
  flex-direction: column;
  height: 93%;
}

.sidebar-footer {
  padding: 5px 0;
}

.rooms-header {
  font-size: 24px;
  color: white;
  font-weight: bold;
  user-select: none;
  margin-bottom: 20px;
}
