.ContactsList {
  height: 93%;
  font-size: 18px;
  overflow-y: auto;
}

.contacts-header {
  font-size: 24px;
  color: white;
  font-weight: bold;
  user-select: none;
  margin-bottom: 20px;
}

.contact-list {
  display: unset;
  list-style: none;
}
