.online-list-item {
  background: cadetblue;
}

.online-list-item:hover {
  background: #6ca0a1;
  cursor: pointer;
}

.online-list-item:active {
  background: #73a2a3;
  cursor: pointer;
}

.offline-list-item {
  background: #9e554e;
}
.offline-list-item:hover {
  cursor: pointer;
  background: #a16862;
}
.offline-list-item:active {
  cursor: pointer;
  background: #9e736e;
}

.top-contact-item {
  border-top: 1px solid lightsteelblue;
}

.selected-online {
  background: #5aa37f;
}

.selected-offline {
  background: #c34b40;
}

.selected-offline,
.selected-online,
.offline-list-item,
.online-list-item {
  padding: 10px 15px;
  border-bottom: 1px solid lightsteelblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}
