.CreateRoom {
    padding: 5px 0;
}

.input-create-room {
  padding: 5px;
  margin: 5px 0;
  margin-right: 3px;
  font-size: 16px;
}

.container-add{
    display: flex;
    justify-content: space-between;
}

.button-create {
  background-color: cadetblue;
  width: 100%;
  border: 1px solid black;
  margin-top: 3px;
  padding: 10px;
}
.button-create:hover, .button-submit-create:hover {
  cursor: pointer;
  background: #6ca0a1;
}
.button-create:active, .button-submit-create:active {
  cursor: pointer;
  background: #73a2a3;
}

.button-submit-create {
  background-color: cadetblue;
  padding: 5px 10px;
  align-self: center;
}

.button-cancel-create {
  background-color: #ec4343;
  width: 100%;
  padding: 5px;
}
.button-cancel-create:hover {
  cursor: pointer;
  background: #ff6f6f;
}
.button-cancel-create:active {
  cursor: pointer;
  background: #fd9797;
}