.room-list-item {
  display: unset;
  list-style: none;
}

.room-item {
  border-bottom: 1px solid lightsteelblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.room-item:hover {
  background: #6ca0a1;
  cursor: pointer;
}
.room-item:active {
  background: #73a2a3;
  cursor: pointer;
}

.top-room-item {
  border-top: 1px solid lightsteelblue;
}

.selected-room-item {
  background: #5aa37f;
  border-bottom: 1px solid lightsteelblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.room-id {
  padding: 10px 10px;
}
